@include tablet{
    .iconos-servicios{
        @include grid( 3, 2rem);
        padding: 2rem 0 ;
        }
}

.iconos{
   img {border-radius: 2rem;
        margin: 3rem 0;
        cursor: pointer;
        transition: all 0.5S ease;
        }
        img:hover{
            filter: grayscale(100);
        }
    h3{
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: $font;
        font-weight: $bold;
    }
    p{
        font-size: 2.2rem;
    }
}
.contenedor {
    h1{
        text-align: center;
        text-transform: uppercase;
        padding-top: 3rem 0;
    }
}