.barra{
   display: flex;
   flex-direction: column;

   padding-top: 2rem;
  
   
  img{
   width: 30rem;
      margin-left: 5rem;
      
  }
   @include tablet{
      flex-direction: row;
      justify-content: space-between;
   }
}

.navbar-nav{
   @include tablet{
      display: flex;
      align-items: center;
      
   }

   a{
   
      color: $blanco;
      text-decoration: none;
      font-size: 2.2rem;
      display: block;
      text-align: center;
     
      @include tablet{
         margin-right: 2rem;
         &:last-of-type{
            margin-right: 0;
         }
      }
  }
}
.li{
   nav-item.dropdown
 {
    background-color: aqua;
 }}